button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color);
  background-color: var(--background);
  color: var(--color);
  cursor: pointer;
}

button:hover:not([disabled]) {
  background-color: var(--color);
  & > .title-one {
    -webkit-text-fill-color: var(--color);
    -webkit-text-stroke-color: var(--background);
  }
  & > span {
    color: var(--background);
  }
  svg {
    color: var(--background);
  }
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
}
