button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
}

button:hover:not([disabled]) {
  background-color: black;
  & > * {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
  }
  svg {
    color: white;
  }
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: default;
}
