main.main {
  & > section.splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color);
    padding: 30px;
    color: var(--color);

    @media screen and (max-width: 750px) {
      & > * {
        width: 100%;
      }
    }
  }

  & > section.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
