@use "../styles.scss";

.title-one {
  font-family: "Oswald", "Impact", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.42em;
  text-transform: uppercase;
  margin-right: -0.42em;
  -webkit-text-stroke-width: 2px;

  color: var(--color);
  -webkit-text-fill-color: var(--background);
  -webkit-text-stroke-color: var(--color);

  @media screen and (max-width: 400px) {
    word-break: break-all;
  }

  &.small {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
  }

  .text + &.text-margin {
    margin-top: 1em;
  }
}
