main.year {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  & > section.info {
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    height: 100px;

    & > .content {
      display: flex;
      height: 100%;

      & > div {
        height: 100%;
      }

      & > .left {
        flex: 2;
      }

      & > .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 3;
      }
    }
  }
}
