@use "../styles.scss";

.title-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.15em;
  color: var(--color);
  margin-right: -0.15em;

  .text + &.text-margin {
    margin-top: 1em;
  }
}
