.text {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;

  &.align-justify {
    text-indent: 2em;
  }
}
