@use "../styles.scss";

.title-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.15em;
  color: black;
  margin-right: -0.15em;

  .text + &.text-margin {
    margin-top: 12px;
  }
}
