.year-buttons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    justify-content: space-between;
    gap: calc((100vw - 360px) / 2) 0px;
  }

  @media screen and (max-width: 360px) {
    justify-content: center;
    gap: 10px;
  }
}
