@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.align-center,
.align-justify,
.align-left,
.align-right {
  display: block;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}
