@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;500;900&family=Roboto+Mono:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

svg {
  transition-duration: 0.05s;
}

html {
  scroll-behavior: smooth;

  --background: white;
  --color: black;
  --overlay: #00000080;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}

main {
  & > section {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
}

.text-margin {
  &.title-one + * {
    margin-top: 32px;
  }

  &.title-two + *,
  &.credits + * {
    margin-top: 12px;
  }

  &.title-three + * {
    margin-top: 10px;
  }

  &.credits + * {
    margin-top: 12px;
  }
}

.content {
  max-width: 1100px;
  width: 100%;
  padding: 30px;
}

#root {
  height: 100%;
  width: 100%;
}
