@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
}

main {
  & > section {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
}

.text-margin {
  &.title-one + * {
    margin-top: 32px;
  }

  &.title-two + * {
    margin-top: 12px;
  }

  &.title-three + * {
    margin-top: 10px;
  }

  &.text + * {
    margin-top: 6px;
  }
}

.content {
  max-width: 1000px;
  width: 100%;
  padding: 30px;
}

#root {
  height: 100%;
  width: 100%;
}
