.modal-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  .default-padding {
    padding: 30px;
    width: 100%;
  }

  & > .modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    max-height: 100%;
    width: 100%;
    padding: 0;

    & > .modal-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--color);
    }

    & > .modal-content-main {
      flex: 1;
      overflow-y: scroll;
      display: flex;
      justify-content: center;
      width: 100%;

      & > .default-padding {
        height: fit-content;
        min-height: 100%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}
