.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 20px;
  gap: 18px;
  border-bottom: 1px solid black;
  background-color: white;

  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-100%);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  &.sticky {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  & > button {
    flex-shrink: 0;
  }

  & > .header-second-title {
    display: none;
  }

  @media screen and (max-width: 600px) {
    & > .header-second-title {
      display: unset;
    }

    & > .header-first-title {
      display: none;
    }
  }
}
