.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid var(--color);
  background-color: var(--background);
  z-index: 1;

  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-100%);

  & > .left {
    display: flex;
    align-items: inherit;
    gap: 18px;

    & > .header-second-title {
      display: none;
    }

    @media screen and (max-width: 750px) {
      & > .header-second-title {
        display: unset;
      }

      & > .header-first-title {
        display: none;
      }
    }
  }

  &.sticky {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  & > button {
    flex-shrink: 0;
  }

  & > .header-second-title {
    display: none;
  }
}
